<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Success</title>
</head>
<body>
    <h1>Logout Berhasil</h1>
    <script type="text/javascript">
    
        function sendLoginData(event) {
            // For Chrome, the origin property is in the event.originalEvent object.
            var origin = event.origin || event.originalEvent.origin;
                // call postMessage function from the window caller
                event.source.postMessage('ok', origin);
                // close window
                window.close();
        }
    
        // receive any postmessage to catch the caller window and send the data to there
        window.addEventListener('message', sendLoginData);
    </script>
</body>
</html>